*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

.nav{
    width: 100%;
    padding: 15px;
}
.navbar{
    width: 100%;
    flex-wrap: nowrap;
}
.box-no-border{
    background: none;
    border: 0px;
}
.user{
    border-radius: 50%;
    width: 40px;
}
.bell img {
    width: 20px;
}
.bell {
    margin-right: 10px;
}
.menu img{
    width: 30px;
}
.text{
    font-size: 14px;
    font-weight: bold;
    color: gray;
    font-family: sans-serif;
}
.textnodecoration{
    text-decoration:none;
}
.green{
    color: green;
    text-decoration: none;
}
.order{
    font-size: 24px;
    font-weight: bold ;
}
.big-box{
    width: 100%;
    background-color:#ffffff;
}
.box-head{
    width: 100%;
}
.box-head-dropdown-menu{
    width: 100%;
    text-align:center ;
}
.box-head-dropdown{
    width: 100%;
    text-align:left;
    margin-top: 5px;
}
.list-group{
    border-radius: 0;
}
.footer{
    width: 100%;
}
.marginR{
    margin-right: 5px;
}
.listImg{
    width: 40px;
}
.Success{
    width: 60px;
    background-color: #20c997;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.Pending{
    width: 60px;
    background-color: #fff3cd;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.Cancel{
    width: 60px;
    background-color: #d63384;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}